{% macro categories_table(site, elements, level = 0) %}
    {% for element in elements %}
        <tr>
            <td{% if level > 0 %} class="hijo{% if level > 1 %}{{ level }}{% endif %}"{% endif %}>{{ element.name }}</td>
            <td>{{ element.slug }}</td>
            <td><a class="boton cuadrado negro" href="{{ url('site_editor_category_edition', {'site': site.slug, 'id': element.id}) }}"><span class="icono icon icon-editar"></span></a></td>
            <td>{% if element.enabled %}<a class="boton rojo" href="{{ url('site_editor_category_disable', {'site': site.slug, 'id': element.id}) }}"><span class="accion">Deshabilitar</span></a>{% else %}<a class="boton azul" href="{{ url('site_editor_category_enable', {'site': site.slug, 'id': element.id}) }}"><span class="accion">Habilitar</span></a>{% endif %}</td>
        </tr>
        {% if element.children != null and element.children|length > 0 %}
            {{ _self.categories_table(site, element.children, level+1) }}
        {% endif %}
    {% endfor %}
{% endmacro %}
