{% extends "editor/layout.html.twig" %}

{% block siteActionHeader %}
<span class="col-12 pad">
    <h1 class="titulo cuerpo tam38 rojo-500">Edición de Artículo</h1>
</span>
{% endblock %}

{% block siteActionContent %}
<form class="col-12 clear" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" {{ form_enctype(form) }} method="POST">
    <span class="col-6 pad">
        {{ form_label(form.title, "Título del Artículo") }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title, { 'attr': { 'class': 'texto grande' } }) }}

        {{ form_label(form.pretitle, "Antetítulo") }}
        {{ form_errors(form.pretitle) }}
        {{ form_widget(form.pretitle, { 'attr': { 'class': 'texto' } }) }}

        {% for subtitle in form.subtitles %}
        {{ form_label(subtitle, "Subtítulo "~loop.index) }}
        {{ form_errors(subtitle) }}
        {{ form_widget(subtitle, { 'attr': { 'class': 'texto' } }) }}
        {% endfor %}

        {# {{ form_label(form.subtitles, "Subtítulos") }}
        {{ form_errors(form.subtitles) }}
        <ul id="subtitles-list" data-prototype="{{ form_widget(form.subtitles.vars.prototype)|e }}">
        {% for subtitle in form.subtitles %}
            <li>
                {{ form_errors(subtitle) }}
                {{ form_widget(subtitle, { 'attr': { 'class': 'texto' } }) }}
                <button class='boton rojo delete-button'>X</button>
            </li>
        {% endfor %}
        </ul>
        <button id="add-subtitle-button" class="boton azul">Añadir subtítulos</button>
        <script>
            var subtitlesCount = '{{ form.subtitles|length }}';

            jQuery(document).ready(function(){
                jQuery('#add-subtitle-button').click(function(e){
                    e.preventDefault();

                    var subtitlesList = jQuery('#subtitles-list');

                    var newWidget = subtitlesList.attr('data-prototype');
                    newWidget = newWidget.replace(/__name__/g, subtitlesCount);
                    newWidget = newWidget.replace('class="subtitle-box"', 'class="subtitle-box texto"');
                    var newSubtitle = newWidget + "<button class='boton rojo delete-button'>X</button>";
                    subtitlesCount++;

                    var newLi = jQuery('<li></li>').html(newSubtitle);
                    newLi.appendTo(subtitlesList);
                });

                jQuery(document).on('click', '.delete-button', function(e){
                    jQuery(this).parent().remove();
                });
            });
        </script> #}

        {{ form_label(form.intro, "Entradilla") }}
        {{ form_errors(form.intro) }}
        {{ form_widget(form.intro, { 'attr': { 'rows': '3' } }) }}

        {{ form_label(form.text, "Texto del Artículo") }}
        {{ form_widget(form.text, { 'attr': { 'class': 'tinymce', 'rows': '30' } }) }}
        {{ tinymce_init() }}
    </span>
    <span class="col-3 pad">
        <legend class="titulo tam24 cuerpo rojo-500">Imagen principal</legend>
        {% set multimedia = form.multimedias.0 %}
        {% if multimedia.url is defined and multimedia.url|length > 0 %}
        <label>Imagen Principal</label>
        <span class="caja-imagen">
            <span class="tarjeta imagen">
                <img alt="" src="{{ multimedia.url }}">
                <span class="botones der">
                    <a class="boton cuadrado blanco descartar" href="javascript:void(0)">
                        <span class="icono icon icon-eliminar"></span>
                    </a>
                </span>
            </span>
        </span>
        {% else %}
            <label for="imagen_ppal">ID de la imagen</label>
            <input id="imagen_ppal" class="texto" type="text">

            {{ form_label(multimedia.file, "O sube una imagen") }}
            {{ form_errors(multimedia.file) }}
            {{ form_widget(multimedia.file, { 'attr':{ 'tabindex': '-1' } }) }}
        {% endif %}

        <legend class="titulo tam24 cuerpo rojo-500">Imágenes en texto</legend>
        {% set multimedia = form.multimedias.1 %}
        {% if multimedia.url is defined and multimedia.url|length > 0 %}
        <label>Imagen en Texto 1</label>
        <span class="caja-imagen">
            <span class="tarjeta imagen">
                <img alt="" src="{{ multimedia.url }}">
                <span class="botones der">
                    <a class="boton cuadrado blanco descartar" href="javascript:void(0)">
                        <span class="icono icon icon-eliminar"></span>
                    </a>
                </span>
            </span>
        </span>
        {% else %}
            <label for="imagen_ppal">ID de la imagen</label>
            <input id="imagen_ppal" class="texto" type="text">

            {{ form_label(multimedia.file, "O sube una imagen") }}
            {{ form_errors(multimedia.file) }}
            {{ form_widget(multimedia.file, { 'attr':{ 'tabindex': '-1' } }) }}
        {% endif %}

        {% set multimedia = form.multimedias.2 %}
        {% if multimedia.url is defined and multimedia.url|length > 0 %}
        <label>Imagen en Texto 2</label>
        <span class="caja-imagen">
            <span class="tarjeta imagen">
                <img alt="" src="{{ multimedia.url }}">
                <span class="botones der">
                    <a class="boton cuadrado blanco descartar" href="javascript:void(0)">
                        <span class="icono icon icon-eliminar"></span>
                    </a>
                </span>
            </span>
        </span>
        {% else %}
            <label for="imagen_ppal">ID de la imagen</label>
            <input id="imagen_ppal" class="texto" type="text">

            {{ form_label(multimedia.file, "O sube una imagen") }}
            {{ form_errors(multimedia.file) }}
            {{ form_widget(multimedia.file, { 'attr':{ 'tabindex': '-1' } }) }}
        {% endif %}

        <legend class="titulo tam24 cuerpo rojo-500">Sumarios</legend>
        {% for summary in form.summaries %}
            {{ form_label(summary, "Sumario "~loop.index) }}
            {{ form_errors(summary) }}
            {{ form_widget(summary, { 'attr': { 'class': 'texto' } }) }}
        {% endfor %}

        <legend class="titulo tam24 cuerpo rojo-500">Vídeo</legend>
        {% set multimedia = form.multimedias.3 %}
        {{ form_label(multimedia.htmlCode, "Código del reproductor de vídeo") }}
        {{ form_errors(multimedia.htmlCode) }}
        {{ form_widget(multimedia.htmlCode, { 'attr': { 'rows': '2' } }) }}

        <legend class="titulo tam24 cuerpo rojo-500">Audio</legend>
        {% set multimedia = form.multimedias.4 %}
        {{ form_label(multimedia.htmlCode, "Código del reproductor de audio") }}
        {{ form_errors(multimedia.htmlCode) }}
        {{ form_widget(multimedia.htmlCode, { 'attr': { 'rows': '2' } }) }}
    </span>
    <span class="col-3 pad">
        <legend class="titulo tam24 cuerpo rojo-500">Etiquetado</legend>
        {{ form_label(form.category, "Categría") }}
        {{ form_errors(form.category) }}
        {{ form_widget(form.category) }}
        <label for="" class="check">{{ form_widget(form.useCategoryAsPretitle) }}Usar categoría como antetítulo</label>
        {{ form_label(form.tags, "Etiquetas") }}
        {{ form_errors(form.tags) }}
        {{ form_widget(form.tags) }}

{#        <legend class="titulo tam24 cuerpo rojo-500">Publicación</legend>
        <label for="autor">Autor</label>
        <input type="text" class="texto" id="autor"><!-- este campo debe estar relleno por defecto con el autor que está creando el artículo -->
        <label for="" class="check"><input type="checkbox" checked="true">Enlazar facebook del autor</label>
        <label for="" class="check"><input type="checkbox" checked="true">Enlazar twitter del autor</label>
        <label for="fecha_publicacion">Fecha de publicación</label>
        <input type="text" class="texto" id="fecha_publicacion" value="06/10/2015 12:58"><!-- este campo debe estar relleno automáticamente con la fecha y hora del momento de publicación -->
#}
        <span class="botones">
            <button type="submit" value="publish" class="boton azul"><span class="accion">Publicar</span></button>
            <button type="submit" value="save" class="boton negro"><span class="accion">Guardar borrador</span></button>
        </span>
    </span>
    {{ form_widget(form._token) }}
</form>

{% endblock %}

