{% extends "editor/layout.html.twig" %}

{% block bodyId %}menu{% endblock %}

{% block siteActionHeader %}
<span class="col-12 pad">
    <h1 class="titulo cuerpo tam38 rojo-500">Edición de Menú Principal (Secciones)</h1>
</span>
{% endblock %}

{% block siteActionContent %}
<span class="col-12 pad">
    <span class="col-6 pad">
        <legend class="titulo tam24 cuerpo rojo-500">Secciones del Menú</legend>
        <div class="droppable-container" id="sections-added" ondrop="drop(event)" ondragover="allowDrop(event)">
        {% for section in menuSections %}
            <div id="{{ section.id }}" class="elemento elemento-seccion" draggable="true" ondragstart="drag(event)">{{ section.name }}</div>
        {% endfor %}
        </div>
    </span>
    <span class="col-6 pad">
        <legend class="titulo tam24 cuerpo rojo-500">Secciones Disponibles</legend>
        <div class="droppable-container" id="sections-list" ondrop="drop(event)" ondragover="allowDrop(event)">
        {% for section in sections %}
            <div id="{{ section.id }}" class="elemento elemento-seccion" draggable="true" ondragstart="drag(event)">{{ section.name }}</div>
        {% endfor %}
        </div>
    </span>
    <form method="POST" id="menuForm" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
        <input id="menuConfig" name="menu" type="hidden" />
        <button type="submit" name="submit" value="set" class="boton azul"><span class="accion">Guardar Menú</span></button>
    </form>
</span>
{% endblock %}

{% block bodyJs %}
{{ parent() }}
<script>
    $('#menuForm').submit(function(){
        var arrayMenu = new Array();
        var menu = $('#sections-added');
        menu.children(".elemento").each(function(){
            arrayMenu.push($(this).attr('id'));
        });
        jsonMenu = JSON.stringify(arrayMenu);
        $('#menuConfig').val(jsonMenu);

        return true;
    });
    function drop(ev)
    {
        ev.preventDefault();
        if (ev.target.className == "droppable-container") {
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }
    }

    function allowDrop(ev)
    {
        ev.preventDefault();
    }
    function drag(ev)
    {
        ev.dataTransfer.setData("text", ev.target.id);
    }
</script>
{% endblock %}
