{% extends "editor/layout.html.twig" %}

{% block bodyId %}panel{% endblock %}

{% block siteActionHeader %}
<span class="col-12 pad">
    <h1 class="titulo cuerpo tam38 rojo-500">Edición de Artículo</h1>
</span>
{% endblock %}

{% block siteActionContent %}
<form class="col-12 clear" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" {{ form_enctype(form) }} method="POST">
    <span class="col-6 pad">
        {{ form_label(form.title, "Título del Artículo") }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title, { 'attr': { 'class': 'texto grande' } }) }}

        {{ form_label(form.pretitle, "Antetítulo") }}
        {{ form_errors(form.pretitle) }}
        {{ form_widget(form.pretitle, { 'attr': { 'class': 'texto' } }) }}

        {% for subtitle in form.subtitles %}
        {{ form_label(subtitle, "Subtítulo "~loop.index) }}
        {{ form_errors(subtitle) }}
        {{ form_widget(subtitle, { 'attr': { 'class': 'texto' } }) }}
        {% endfor %}

        {{ form_label(form.intro, "Entradilla") }}
        {{ form_errors(form.intro) }}
        {{ form_widget(form.intro, { 'attr': { 'rows': '3' } }) }}

        {{ form_label(form.text, "Texto del Artículo") }}
        {{ form_widget(form.text, { 'attr': { 'class': 'tinymce', 'rows': '30' } }) }}
        {{ tinymce_init() }}
    </span>
    <span class="col-3 pad">
        {% set primaryImages = [] %}
        {% set textImages = [] %}
        {% set videos = [] %}
        {% set audios = [] %}
        {% for multimediaObject in form.multimedias %}
            {% if multimediaObject.vars.value.type == 'image' and multimediaObject.vars.value.position == 'primary' %}
                {% set primaryImages = primaryImages|merge([multimediaObject]) %}
            {% elseif multimediaObject.vars.value.type == 'image' %}
                {% set textImages = textImages|merge([multimediaObject]) %}
            {% elseif multimediaObject.vars.value.type == 'video' %}
                {% set videos = videos|merge([multimediaObject]) %}
            {% elseif multimediaObject.vars.value.type == 'audio' %}
                {% set audios = audios|merge([multimediaObject]) %}
            {% endif %}
        {% endfor %}

        <legend class="titulo tam24 cuerpo rojo-500">Imagen principal</legend>
        {% for multimedia in primaryImages %}
        {% set formHtml =
            form_label(multimedia.file, "O sube una imagen")
            ~ form_errors(multimedia.file)
            ~ form_widget(multimedia.file, { 'attr':{ 'tabindex': '-1' } })
        %}
        <div id="primary_image_form_{{ loop.index }}">
        {% if multimedia.vars.data.path is defined and multimedia.vars.data.path|length > 0 %}
        <label>Imagen Principal</label>
        <span class="caja-imagen">
            <span class="tarjeta imagen">
                <img alt="" src="http://{{ currentSite.domain ~ multimedia.vars.data.path }}">
                <span class="botones der">
                    <a class="boton cuadrado blanco descartar" id="remove_primary_image_{{ loop.index }}" href="#">
                        <span class="icono icon icon-eliminar"></span>
                    </a>
                </span>
            </span>
        </span>
        {{ form_widget(multimedia.path, { 'attr':{ 'hidden': 'true' } }) }}
        {% else %}
            {{ formHtml|raw }}
        {% endif %}
        </div>
        <script>
            jQuery("#remove_primary_image_{{ loop.index }}").click(function(){
                if (window.confirm("¿Seguro que desea borrar la imagen?")) {
                    jQuery("#primary_image_form_{{ loop.index }}").html('{{ formHtml|raw }}');
                    $("#{{ multimedia.file.vars.id }}").jfilestyle({
                        buttonText: "<span class='icon icon-subir'></span>"
                    });
                }
            });
        </script>
        {% endfor %}

        <legend class="titulo tam24 cuerpo rojo-500">Imágenes en texto</legend>
        {% for multimedia in textImages %}
        {% set formHtml = 
            form_label(multimedia.file, "Subir la imagen en texto "~loop.index)
            ~ form_errors(multimedia.file)
            ~ form_widget(multimedia.file, { 'attr':{ 'tabindex': '-1' } })
        %}
        <div id="text_image_form_{{ loop.index }}">
        {% if multimedia.vars.data.path is defined and multimedia.vars.data.path|length > 0 %}
            <label>Imagen en Texto {{ loop.index }}</label>
            <span class="caja-imagen">
                <span class="tarjeta imagen">
                    <img alt="" src="http://{{ currentSite.domain ~ multimedia.vars.data.path }}">
                    <span class="botones der">
                        <a class="boton cuadrado blanco descartar" id="remove_text_image_{{ loop.index }}" href="#">
                            <span class="icono icon icon-eliminar"></span>
                       </a>
                    </span>
                </span>
                {{ form_widget(multimedia.path, { 'attr':{ 'hidden': 'true' } }) }}
            </span>
        {% else %}
            {{ formHtml|raw }}
        {% endif %}
        </div>
        <script>
            jQuery("#remove_text_image_{{ loop.index }}").click(function(){
                if (window.confirm("¿Seguro que desea borrar la imagen?")) {
                    jQuery("#text_image_form_{{ loop.index }}").html('{{ formHtml|raw }}');
                    $("#{{ multimedia.file.vars.id }}").jfilestyle({
                        buttonText: "<span class='icon icon-subir'></span>"
                    });
                }
            });
        </script>
        {% endfor %}

        <legend class="titulo tam24 cuerpo rojo-500">Sumarios</legend>
        {% for summary in form.summaries %}
            {{ form_label(summary, "Sumario "~loop.index) }}
            {{ form_errors(summary) }}
            {{ form_widget(summary, { 'attr': { 'class': 'texto' } }) }}
        {% endfor %}

        <legend class="titulo tam24 cuerpo rojo-500">Vídeo</legend>
        {% for multimedia in videos %}
        {{ form_label(multimedia.htmlCode, "Código del reproductor de vídeo") }}
        {{ form_errors(multimedia.htmlCode) }}
        {{ form_widget(multimedia.htmlCode, { 'attr': { 'rows': '2' } }) }}
        {% endfor %}

        <legend class="titulo tam24 cuerpo rojo-500">Audio</legend>
        {% for multimedia in audios %}
        {{ form_label(multimedia.htmlCode, "Código del reproductor de audio") }}
        {{ form_errors(multimedia.htmlCode) }}
        {{ form_widget(multimedia.htmlCode, { 'attr': { 'rows': '2' } }) }}
        {% endfor %}
    </span>
    <span class="col-3 pad">
        <legend class="titulo tam24 cuerpo rojo-500">Etiquetado</legend>
        {{ form_label(form.category, "Sección") }}
        {{ form_errors(form.category) }}
        {{ form_widget(form.category) }}
        <label for="" class="check">{{ form_widget(form.useCategoryAsPretitle) }}Usar nombre de la sección como antetítulo</label>
        {{ form_label(form.tags, "Etiquetas") }}
        {{ form_errors(form.tags) }}
        {{ form_widget(form.tags) }}

{#        <legend class="titulo tam24 cuerpo rojo-500">Publicación</legend>
        <label for="autor">Autor</label>
        <input type="text" class="texto" id="autor"><!-- este campo debe estar relleno por defecto con el autor que está creando el artículo -->
        <label for="" class="check"><input type="checkbox" checked="true">Enlazar facebook del autor</label>
        <label for="" class="check"><input type="checkbox" checked="true">Enlazar twitter del autor</label>
        <label for="fecha_publicacion">Fecha de publicación</label>
        <input type="text" class="texto" id="fecha_publicacion" value="06/10/2015 12:58"><!-- este campo debe estar relleno automáticamente con la fecha y hora del momento de publicación -->
#}
        <span class="botones">
            {{ form_widget(form.publish, { 'label': "Publicar", 'attr': { 'type': 'submit', class: 'boton azul' } }) }}
            {{ form_widget(form.save, { 'label': "Guardar Borrador", 'attr': { 'type': 'submit', class: 'boton negro' } }) }}
            <!-- === button type="submit" value="publish" class="boton azul"><span class="accion">Publicar</span></button>
            <button type="submit" value="save" class="boton negro"><span class="accion">Guardar borrador</span></button === -->
        </span>
    </span>
    {{ form_widget(form._token) }}
</form>

{% endblock %}

