{% extends "editor/layout.html.twig" %}

{% block bodyId %}articulos{% endblock %}

{% block siteActionHeader %}
<span class="col-12 pad">
    <h1 class="titulo cuerpo tam38 rojo-500">Edición de Artículo</h1>
</span>
{% endblock %}

{% block siteActionContent %}
<form class="col-12 clear" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" {{ form_enctype(form) }} method="POST">
    <span class="col-12 pad">
        {{ form_label(form.title, "Título del Artículo") }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title, { 'attr': { 'class': 'texto grande' } }) }}

        <label for="" class="check">{{ form_widget(form.seoTitle) }}Usar título SEO</label>
    </span>
    <span class="col-6 pad">
        {{ form_label(form.pretitle, "Antetítulo") }}
        {{ form_errors(form.pretitle) }}
        {{ form_widget(form.pretitle, { 'attr': { 'class': 'texto' } }) }}

        {% for subtitle in form.subtitles %}
        {{ form_label(subtitle, "Subtítulo "~loop.index) }}
        {{ form_errors(subtitle) }}
        {{ form_widget(subtitle, { 'attr': { 'class': 'texto' } }) }}
        {% endfor %}

        {{ form_label(form.intro, "Entradilla") }}
        {{ form_errors(form.intro) }}
        {{ form_widget(form.intro, { 'attr': { 'rows': '3' } }) }}

        {{ form_label(form.text, "Texto del Artículo") }}
        {{ form_widget(form.text, { 'attr': { 'class': 'tinymce', 'rows': '30' } }) }}
        {{ tinymce_init() }}
    </span>
    <span class="col-3 pad">
        {% set primaryImages = [] %}
        {% set textImages = [] %}
        {% set videos = [] %}
        {% set audios = [] %}
        {% for multimediaObject in form.multimedias %}
            {% if multimediaObject.vars.value.type == 'image' and multimediaObject.vars.value.position == 'primary' %}
                {% set primaryImages = primaryImages|merge([multimediaObject]) %}
            {% elseif multimediaObject.vars.value.type == 'image' %}
                {% set textImages = textImages|merge([multimediaObject]) %}
            {% elseif multimediaObject.vars.value.type == 'video' %}
                {% set videos = videos|merge([multimediaObject]) %}
            {% elseif multimediaObject.vars.value.type == 'audio' %}
                {% set audios = audios|merge([multimediaObject]) %}
            {% endif %}
        {% endfor %}

        <legend class="titulo tam24 cuerpo rojo-500">Imagen principal</legend>
        {% for multimedia in primaryImages %}
        {% set formHtml =
            form_label(multimedia.file, "O sube una imagen")
            ~ form_errors(multimedia.file)
            ~ form_widget(multimedia.file, { 'attr':{ 'tabindex': '-1' } })
        %}
        {% set imageHtml = '<label>Imagen Principal</label>
        <span class="caja-imagen">
            <span class="tarjeta imagen">
                <img alt="" src="' ~ multimedia.vars.data.getOriginalImagesUploadDir() ~ multimedia.vars.data.path ~ '">
                <span class="botones der">
                    <a class="boton cuadrado blanco descartar" id="remove_primary_image_' ~ loop.index ~ '" href="#">
                        <span class="icono icon icon-eliminar"></span>
                    </a>
                </span>
            </span>'
            ~ form_widget(multimedia.path, { 'attr':{ 'hidden': 'true' } }) ~
        '</span>' %} 
        <div id="primary_image_form_{{ loop.index }}">
            <div id="primary_image_form_{{ loop.index }}_input">
            {% if multimedia.vars.data.path is defined and multimedia.vars.data.path|length > 0 %}
                {{ imageHtml | raw }}
            {% else %}
                {{ formHtml|raw }}
            {% endif %}
            </div>
            {{ form_widget(multimedia.rectangle, { 'attr':{ 'class': 'rectangle', 'hidden': 'true' } }) }}
            {{ form_widget(multimedia.square, { 'attr':{ 'class': 'square', 'hidden': 'true' } }) }}
        </div>
        <script>
            jQuery("#remove_primary_image_{{ loop.index }}").click(function(){
                if (window.confirm("¿Seguro que desea borrar la imagen?")) {
                    jQuery("#primary_image_form_{{ loop.index }}_input").html('{{ formHtml|raw }}');
                    $("#{{ multimedia.file.vars.id }}").jfilestyle({
                        buttonText: "<span class='icon icon-subir'></span>"
                    });
                }
            });

            $('#primary_image_form_{{ loop.index }}').on('change', 'input[type=file]', function(e) {
                handleFiles(this.files, 975, 548, 'primary_image_form_{{ loop.index }}', 'rectangle');
                handleFiles(this.files, 500, 500, 'primary_image_form_{{ loop.index }}', 'square');
               
                {#jQuery("#primary_image_form_{{ loop.index }}").html('{{ imageHtml|raw|replace({multimedia.vars.data.getOriginalImagesUploadDir() ~ multimedia.vars.data.path:}) }}');
                $("#{{ multimedia.file.vars.id }}").jfilestyle({
                    buttonText: "<span class='icon icon-subir'></span>"
                });#}
            });
        </script>
        {% endfor %}

        <legend class="titulo tam24 cuerpo rojo-500">Imágenes en texto</legend>
        {% for multimedia in textImages %}
        {% set formHtml = 
            form_label(multimedia.file, "Subir la imagen en texto "~loop.index)
            ~ form_errors(multimedia.file)
            ~ form_widget(multimedia.file, { 'attr':{ 'tabindex': '-1' } })
        %}
        {% set imageHtml = '<label>Imagen en Texto ' ~ loop.index ~ '</label>
            <span class="caja-imagen">
                <span class="tarjeta imagen">
                    <img alt="" src="' ~ multimedia.vars.data.getOriginalImagesUploadDir() ~ multimedia.vars.data.path ~ '">
                    <span class="botones der">
                        <a class="boton cuadrado blanco descartar" id="remove_text_image_' ~ loop.index ~ '" href="#">
                            <span class="icono icon icon-eliminar"></span>
                       </a>
                    </span>
                </span>'
                ~ form_widget(multimedia.path, { 'attr':{ 'hidden': 'true' } }) ~
            '</span>'
        %}
        <div id="text_image_form_{{ loop.index }}">
            <div id="text_image_form_{{ loop.index }}_input">
            {% if multimedia.vars.data.path is defined and multimedia.vars.data.path|length > 0 %}
                {{ imageHtml|raw }}
            {% else %}
                {{ formHtml|raw }}
            {% endif %}
            </div>
            {{ form_widget(multimedia.rectangle, { 'attr':{ 'class': 'rectangle', 'hidden': 'true' } }) }}
        </div>
        <script>
            jQuery("#remove_text_image_{{ loop.index }}").click(function(){
                if (window.confirm("¿Seguro que desea borrar la imagen?")) {
                    jQuery("#text_image_form_{{ loop.index }}_input").html('{{ formHtml|raw }}');
                    $("#{{ multimedia.file.vars.id }}").jfilestyle({
                        buttonText: "<span class='icon icon-subir'></span>"
                    });
                }
            });

            $('#text_image_form_{{ loop.index }}').on('change', 'input[type=file]', function(e) {
                handleFiles(this.files, 975, 548, 'text_image_form_{{ loop.index }}', 'rectangle');

                {#jQuery("#primary_image_form_{{ loop.index }}").html('{{ imageHtml|raw|replace({multimedia.vars.data.getOriginalImagesUploadDir() ~ multimedia.vars.data.path:}) }}');
                $("#{{ multimedia.file.vars.id }}").jfilestyle({
                    buttonText: "<span class='icon icon-subir'></span>"
                });#}
            } );
        </script>
        {% endfor %}

        <legend class="titulo tam24 cuerpo rojo-500">Sumarios</legend>
        {% for summary in form.summaries %}
            {{ form_label(summary, "Sumario "~loop.index) }}
            {{ form_errors(summary) }}
            {{ form_widget(summary, { 'attr': { 'class': 'texto' } }) }}
        {% endfor %}

        <legend class="titulo tam24 cuerpo rojo-500">Vídeo</legend>
        {% for multimedia in videos %}
        {{ form_label(multimedia.htmlCode, "Código del reproductor de vídeo") }}
        {{ form_errors(multimedia.htmlCode) }}
        {{ form_widget(multimedia.htmlCode, { 'attr': { 'rows': '2' } }) }}
        {% endfor %}

        <legend class="titulo tam24 cuerpo rojo-500">Audio</legend>
        {% for multimedia in audios %}
        {{ form_label(multimedia.htmlCode, "Código del reproductor de audio") }}
        {{ form_errors(multimedia.htmlCode) }}
        {{ form_widget(multimedia.htmlCode, { 'attr': { 'rows': '2' } }) }}
        {% endfor %}
    </span>
    <span class="col-3 pad">
        <legend class="titulo tam24 cuerpo rojo-500">Etiquetado</legend>
        {{ form_label(form.sectionId, "Sección") }}
        {{ form_errors(form.sectionId) }}
        {{ form_widget(form.sectionId) }}
        <label for="" class="check">{{ form_widget(form.useCategoryAsPretitle) }}Usar nombre de la sección como antetítulo</label>

        <label for="etiquetas">Guardado en:</label>
        <span class="guardado-en">
            <span class="cat" id="categories_selection">
                {% for option in form.categoryIds %}
                <label for="" class="check">{{ form_widget(option) }}{{ option.vars.label }}</label>
                {% endfor %}
            </span>
            <span class="tag">
                {% for option in form.tagIds %}
                <label for="" class="check">{{ form_widget(option) }}{{ option.vars.label }}</label>
                {% endfor %}
            </span>
        </span>

        <span class="botones">
            {{ form_widget(form.publish, { 'label': "Publicar", 'attr': { 'type': 'submit', class: 'boton azul' } }) }}
            {{ form_widget(form.save, { 'label': "Guardar Borrador", 'attr': { 'type': 'submit', class: 'boton negro' } }) }}
        </span>
    </span>
    {{ form_widget(form._token) }}
</form>
{% endblock %}

{% block bodyJs %}
    {{ parent() }}
    <script src="{{ statics_domain }}/js/smart-crop.js"></script>
    <script>
        function handleFiles(files, width, height, containerId, inputClass){
            if (files.length > 0) {
                var file = files[0];
                if (typeof FileReader !== "undefined" && file.type.indexOf("image") != -1) {
                    var reader = new FileReader();
                    // Note: addEventListener doesn't work in Google Chrome for this event
                    reader.onload = function (evt) {
                        load(evt.target.result, width, height, containerId, inputClass);
                    };
                    reader.readAsDataURL(file);

                    console.log(reader);
                }
            }
        }

        function load(src, width, height, containerId, inputClass){
            img = new Image();
            img.onload = function(){
                analyze(width, height, containerId, inputClass);
            };
            img.src = src;
        }
        function analyze(width, height, containerId, inputClass){
            if(!img) return;
            SmartCrop.crop(img, {
                width: width,
                height: height,
                minScale: 1,
                debug: true
            }, function(result){fixData(result, width, height, containerId, inputClass);});
        }
        function fixData(result, width, height, containerId, inputClass){
            var obj = new Object();
            obj.type = inputClass;
            obj.width = result.topCrop.width;
            obj.height = result.topCrop.height;
            obj.x = result.topCrop.x;
            obj.y = result.topCrop.y;
            var jsonString = JSON.stringify(obj);
            $('#'+containerId+' .'+inputClass).val(jsonString);
        }
        {#function draw(result){
            selectedCrop = result.topCrop;
            $('.crops').empty().append(_.sortBy(result.crops, function(c){return -c.score.total;}).map(function(crop){
                return $('<p>')
                .text('Score: ' + ~~(crop.score.total*10000000) + ', ' + crop.x+'x'+crop.y)
                .hover(function(){
                    drawCrop(crop);
                }, function(){
                    drawCrop(selectedCrop);
                })
                .click(function(){ selectedCrop = crop; drawCrop(selectedCrop); })
                .data('crop', crop);
            }));
            drawCrop(selectedCrop);
            $('#debug').empty().append(result.debugCanvas);
        }
        function drawCrop(crop){
            canvas.width = img.width;
            canvas.height = img.height;
            ctx.drawImage(img, 0, 0);
            ctx.strokeStyle = 'red';
            ctx.lineWidth = 4;
            ctx.strokeRect(crop.x, crop.y, crop.width, crop.height);
        }#}
    </script>
{% endblock %}
