{% extends "editor/layout.html.twig" %}

{% block bodyId %}tags{% endblock %}

{% block siteActionHeader %}
<span class="col-12 pad">
    <h1 class="titulo cuerpo tam38 rojo-500">Edición de Tags</h1>
</span>
{% endblock %}

{% block siteActionContent %}
<span class="col-5 pad">
    <form class="col-12 clear" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" {{ form_enctype(form) }} method="POST">
        {{ form_label(form.name, "Nombre del Tag") }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, { 'attr': { 'class': 'texto grande' } }) }}

        {{ form_label(form.slug, "Slug del Tag") }}
        {{ form_errors(form.slug) }}
        {{ form_widget(form.slug, { 'attr': { 'class': 'texto' } }) }}

        {{ form_label(form.metaTitle, "Meta Title del Tag") }}
        {{ form_errors(form.metaTitle) }}
        {{ form_widget(form.metaTitle, { 'attr': { 'class': 'texto' } }) }}

        {{ form_label(form.description, "Descripción del Tag") }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, { 'attr': { 'rows': '3' } }) }}

        {{ form_label(form.parentId, "Padre del Tag") }}
        {{ form_widget(form.parentId) }}

        {{ form_widget(form.save, { 'label': "Guardar", 'attr': { 'type': 'submit', class: 'boton azul' } }) }}
        {{ form_widget(form._token) }}
    </form>
</span>
<span class="col-7 pad">
    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <th>Slug</th>
                <th>Editar</th>
                <th></th>
            </tr>
            {{ listsMacros.tags_table(currentSite, tags) }}
        </tbody>
    </table>
</span>
{% endblock %}

