{% extends "editor/layout.html.twig" %}

{% block bodyId %}articulos{% endblock %}

{% block siteActionContent %}
<span class="col-12 clear">
    <h1 class="titulo tam38 rojo-500">Artículos</h1>
</span>
<span class="col-12 clear">
    <form method="GET" action="{{ url('site_editor_editorial_content_list', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': 'search'}) }}">
        <input id="search-by-title" class="texto" type="text" name="title" value="{{ searchQuery }}">
        <button type="submit" name="submit" value="search" class="boton azul"><span class="accion">Filtrar</span></button>
    </form>
    <span class="medio">
        <ul class="pestanas">
            <li><a class="opcion{% if filter == 'published' %} activa{% endif %}" href="{{ url('site_editor_editorial_content_list', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': 'published' }) }}">Publicados ({{ numContents.published }})</a></li>
            <li><a class="opcion{% if filter == 'saved' %} activa{% endif %}" href="{{ url('site_editor_editorial_content_list', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': 'saved' }) }}">Borradores ({{ numContents.saved }})</a></li>
            <li><a class="opcion{% if filter == 'removed' %} activa{% endif %}" href="{{ url('site_editor_editorial_content_list', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': 'removed' }) }}">Papelera ({{ numContents.removed }})</a></li>
        </ul>
    </span>
    <span class="botones der medio">
        <a class="boton azul" href="{{ url('site_editor_editorial_content_edition', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'id': 'new'}) }}">
            <span class="icono icon icon-sumar"></span>
            <span class="icono icon icon-articulos"></span>
            <span class="accion">Nuevo artículo</span>
        </a>
    </span>
    <span class="col-12 pad">
        <table>
            <tbody>
                <tr>
                    <th>Fecha</th>
                    <th class="ppal">Título</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for content in contents %}
                <tr>
                    <td>{{ content.createdDT|date("d/m/Y") }}</td>
                    <td><span class="titulo tam18">{{ content.title }}<span></td>
                    <td><a class="boton cuadrado negro" href="{{ url('site_editor_editorial_content_edition', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'id': content.id}) }}"><span class="icono icon icon-editar"></span></a></td>
                    <td><a class="boton cuadrado negro" href="{% if content.status == 'removed' %}{{ url('site_editor_editorial_content_restore', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'id': content.id}) }}{% else %}{{ url('site_editor_editorial_content_remove', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'id': content.id}) }}{% endif %}"><span class="icono icon icon-{% if content.status == 'removed' %}restaurar{% else %}eliminar{% endif %}"></span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% set numPages = (numContents[filter] / numPerPage)|round(0, 'ceil') %}
        {% if numPages > 1 %}
        {% if filter == 'search' %}{% set queryString = "?title=" ~ searchQuery ~ "&submit=search" %}{% else %}{% set queryString = "" %}{% endif %}
        <div class="pagination">
        <a class="pagination-button" href="{% if currentPage == 2 %}{{ url('site_editor_editorial_content_list', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': filter}) ~ queryString }}{% elseif currentPage == 1 %}{{ url('site_editor_editorial_content_list_page', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': filter, 'page': numPages}) ~ queryString }}{% else %}{{ url('site_editor_editorial_content_list_page', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': filter, 'page': currentPage-1}) ~ queryString }}{% endif %}"><</a>
        <ul>
        {% for pageIndicator in 1..numPages %}
            <li class="pagination-button">{% if currentPage != loop.index %}<a href="{% if loop.index == 1 %}{{ url('site_editor_editorial_content_list', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': filter}) ~ queryString }}{% else %}{{ url('site_editor_editorial_content_list_page', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': filter, 'page': loop.index}) ~ queryString }}{% endif %}">{% endif %}{{ loop.index }}{% if currentPage != loop.index %}</a>{% endif %}</li>
        {% endfor %}
        </ul>
        <a class="pagination-button" href="{% if currentPage == numPages %}{{ url('site_editor_editorial_content_list', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': filter}) ~ queryString }}{% elseif currentPage == 1 %}{{ url('site_editor_editorial_content_list_page', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': filter, 'page': 2}) ~ queryString }}{% else %}{{ url('site_editor_editorial_content_list_page', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': filter, 'page': currentPage+1}) ~ queryString }}{% endif %}">></a>
        </div>
        {% endif %}
    </span>
</span>
{% endblock %}
