{% extends "editor/layout.html.twig" %}

{% block bodyId %}articulos{% endblock %}

{% block siteActionContent %}
<span class="col-12 clear">
    <h1 class="titulo tam38 rojo-500">Artículos</h1>
</span>
<span class="col-12 clear">
    <span class="medio">
        <ul class="pestanas">
            <li><a class="opcion{% if filter == 'published' %} activa{% endif %}" href="{{ url('site_editor_editorial_content_list', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': 'published' }) }}">Publicados ({{ numContents.published }})</a></li>
            <li><a class="opcion{% if filter == 'saved' %} activa{% endif %}" href="{{ url('site_editor_editorial_content_list', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': 'saved' }) }}">Borradores ({{ numContents.saved }})</a></li>
            <li><a class="opcion{% if filter == 'removed' %} activa{% endif %}" href="{{ url('site_editor_editorial_content_list', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'filter': 'removed' }) }}">Papelera ({{ numContents.removed }})</a></li>
        </ul>
    </span>
    <span class="botones der medio">
        <a class="boton azul" href="{{ url('site_editor_editorial_content_edition', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'id': 'new'}) }}">
            <span class="icono icon icon-sumar"></span>
            <span class="icono icon icon-articulos"></span>
            <span class="accion">Nuevo artículo</span>
        </a>
    </span>
    <span class="col-12 pad">
        <table>
            <tbody>
                <tr>
                    <th>Fecha</th>
                    <th class="ppal">Título</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for content in contents %}
                <tr>
                    <td>{{ content.createdDT|date("d/m/Y") }}</td>
                    <td class="ppal">{{ content.title }}</td>
                    <td><a class="boton cuadrado negro" href="{{ url('site_editor_editorial_content_edition', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'id': content.id}) }}"><span class="icono icon icon-editar"></span></a></td>
                    <td><a class="boton cuadrado negro" href="{% if content.status == 'removed' %}{{ url('site_editor_editorial_content_restore', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'id': content.id}) }}{% else %}{{ url('site_editor_editorial_content_remove', {'site': currentSite.slug, 'editorialContentType': currentEditorialContent, 'id': content.id}) }}{% endif %}"><span class="icono icon icon-{% if content.status == 'removed' %}restaurar{% else %}eliminar{% endif %}"></span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </span>
</span>
{% endblock %}
